<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial;
        }
        .container {
            padding: 15px;
            border: 5px #42983a solid;
        }
        .icon {
            width: 40px;
            height: 40px;
            margin-right: 5px;
        }
        .wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .message {
            font-size: 20px;
        }
    </style>
</head>



<body>
    <div class="wrapper">
        <img th:src="'cid:icon'" class="icon">
        <h1>Greetings from learnAI!</h1>
    </div>

    <div class="container">
        <p th:text="${message}" class="message">Default message</p>
        <a th:href="${link}">click here</a>
        <p th:text="${second_message}">Additional message</p>
    </div>
</body>
</html>